{% load static general_tags wagtailcore_tags wagtailimages_tags %}

<!-- Subnav -->
<div class='subnav subnav-bg-color subnav-text-color'>
    <ul class='container'>

    <!-- TODO 1) Reverse li and a tags -->
    {% for item in menu.menu_items.all %}
        
        {% if item.dropdown %}
            <li class='megamenu-dropdown'>
            <a class='subnav-text-color' href="#">{{ item.title }}</a>
            <div class="megamenu-dropdown-area megamenu-bg-color ">

            {% comment %} Header {% endcomment %}
            {% if item.has_header %}
                <!-- Megamenu Header -->
                <div class="megamenu-dropdown-header">
                    <div class="row">
                        {% for header in item.menu_item_header.all %}
                        {% comment %} Стоит ли добавлять size??/ {% endcomment %}
                        <div class="col s3">
                            <p>{{ header.header_title }}</p>
                            <hr>
                        </div>
                        {% endfor %}
             
                    </div>
                </div>
                <!-- /Megamenu Header -->
            {% endif %}
            {% comment %} /Header {% endcomment %}
                

            {% if item.has_content %}
            <!-- Megamenu Content -->
            <ul class="megamenu-dropdown-content">
                
                    {% for content_col in item.menu_item_content.all %}
                    <ul>
                        {% if content_col.column_title %}<h4 class='megamenu-text-color'>{{ content_col.column_title }}</h4>{% endif %}
                        
                        {% for col_row in content_col.column_row.all %}
                            <li><a class='megamenu-text-color theme-text-hover-color'
                            {% if col_row.row_page %}href="{% pageurl col_row.row_page %}"
                            {% elif col_row.row_link %}href="{{ col_row.row_link }}"
                            {% else %}href="#"{% endif %}>{{ col_row.row_title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                        

                <!-- /Megamenu Content -->
            </ul>
                {% else %}
                <ul class="megamenu-dropdown-content">
                    <li>
                        <h1>No Content</h1>
                    </li>
                </ul>
            {% endif %}
    
                
                {% if item.has_footer %}
                <!-- Megamenu Footer -->
                <div class="megamenu-dropdown-footer megamenu-footer-bg-color">
                    <div class="row">
                        {% if item.menu_footer.first.footer_title %}
                        <div class="col megamenu-dropdown-footer-title">
                            <p><a class='megamenu-footer-text-color theme-text-hover-color' href="{{ item.menu_footer.first.footer_link }}">{{ item.menu_footer.first.footer_title }}</a></p>
                        </div>
                        {% endif %}

                        {% for footer_col in item.menu_footer.first.menu_footer_items.all %}
                        <div class="col">

                            <!-- Card -->
                            <div class='megamenu-dropdown-footer-card'>
                                {% image footer_col.image original as img %}
                                <a href="{{ footer_col.footer_item_link }}">
                                    <img src="{{ img.url }}" alt="{{ img.alt }}">
                                    <p class='megamenu-footer-text-color'>{{ footer_col.footer_item_title }}</p>
                                </a></div>
                            <!-- /Card -->
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- /Megamenu footer -->
                {% endif %}
            </div>

            </li>    
        {% else %}
            <li class='theme-text-hover-color'><a class='subnav-text-color' href="{{ item.link }}"
                {% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
<!-- /Subnav -->