{% extends "base.html" %}
{% load static general_tags wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block title %} {{ page.title }} {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% get_adv as adv %}

<!-- Advertise block -->
{% if adv %}
{% block adv %}
	<a href="{% if adv.page %}{% pageurl adv.page %}{% else %}{{ adv.adv_link }}{% endif %}">
		<div class='advertise-block'>
			{% if adv.title %}<h2>{{ adv.title }}</h2>{% endif %}
			{% if adv.description %}<p>{{ adv.description }}</p>{% endif %}
		</div>
	</a>
{% endblock adv %}
{% endif %}
<!-- / -->

{% block content %}

<div class="body-bg-color-primary">
	<div class="container">

		{% if page.slider_items.all %}
		<!-- Slideshow container -->
		{% include 'home/includes/slider.html' with slider_items=page.slider_items.all %}
		<br>

		<!-- The dots/circles -->
		<div style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
		</div>
		{% endif %}

	</div>
</div>

<!-- Featured section -->
<section class='body-bg-color-primary'>
	<div class="container">

		<!-- Section Title -->
		<div class="section-title">
			<hr class='theme-text-color theme-bg-color'>
			<h2>Featured</h2>
			<hr class='theme-text-color theme-bg-color'>
		</div>
		<!-- /Section Title -->
		{% include 'blog/includes/cards.html' with blogs=featured_posts %}


		<!-- Pagination -->
		<div class="pagination-block">
			<a href='{% slugurl "all_categories" %}'>Discover more</a>
		</div>
		<!-- /Pagination -->
	</div>
</section>
<!-- /Featured section -->

{% if page.bsp_item.first %}
<article class='bsp-bg-color bsp-text-color'>
	<div class="container">
		<div class='row'>
			<div class="col">
				<img id='article-cover-image'
					{% image page.bsp_item.first.image original as bsp_img %}
					src="{{ bsp_img.url }}" alt="{{ bsp_img.alt }}">
			</div>
			<div class="col">
				<h3><b>Best selling Product -
						{{ page.bsp_item.first.title }}</b></h3>
				<p>{{ page.bsp_item.first.description }}
				</p>
				<a href="{% if page.bsp_item.first.page %}{% pageurl page.bsp_item.first.page %}{% else %}{{ page.bsp_item.first.link }}{% endif %}"
					class="article-cta theme-text-hover-bg-color">Get</a>
			</div>
		</div>
	</div>
</article>
{% endif %}

<!-- Latest Posts section -->
<section class='post-section body-bg-color-secondary'>
	<div class="container">


		<!-- Section Title -->
		<div class="section-title">
			<hr class='theme-text-color theme-bg-color'>
			<h2>Latest Posts</h2>
			<hr class='theme-text-color theme-bg-color'>
		</div>
		<!-- /Section Title -->


		{% include 'blog/includes/cards.html' with blogs=latest_posts %}

		<!-- Pagination -->
		<div class="pagination-block">
			<a href='{% slugurl "all_categories" %}'>Discover more</a>
		</div>
		<!-- /Pagination -->

	</div>

</section>
<!-- /Latest Posts Section -->





<script>
	var slideIndex = 1;
	showSlides(slideIndex);

	// Next/previous controls
	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	// Thumbnail image controls
	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("dot");
		if (n > slides.length) {
			slideIndex = 1
		}
		if (n < 1) {
			slideIndex = slides.length
		}
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		slides[slideIndex - 1].style.display = "block";
		dots[slideIndex - 1].className += " active";
	}
</script>
{% endblock content %}