{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block body_class %}template-blog_page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog_page.css' %}">
<link type="text/css" rel="stylesheet"
    href="{% static 'css/lightslider.min.css' %}" />
{% endblock extra_css %}

{% block title %}{{ page.title }}{% endblock title %}
<!-- Advertise block -->
{% block adv %}
{% if adv %}
<a
    href="{% if adv.page %}{% pageurl adv.page %}{% else %}{{ adv.adv_link }}{% endif %}">
    <div class='advertise-block'>
        {% if adv.title %}<h2>{{ adv.title }}</h2>{% endif %}
        {% if adv.description %}<p>{{ adv.description }}</p>{% endif %}
    </div>
</a>
{% endif %}
{% endblock adv %}
<!-- / -->
{% block content %}
<div class="container">
    <!-- Breadcrumb -->
    <nav class='breadcrumb-wrapper white'>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{% slugurl 'home' %}" class="breadcrumb">Home</a>
                {% if page.main_category %}
                <a href="{% slugurl 'all_categories' %}"
                    class="breadcrumb">{{ page.main_category }}</a>
                {% endif %}
                <a href="" class="breadcrumb">{{ page.title }}</a>
            </div>
        </div>
    </nav>
    <!-- /Breadcrumb -->

    <div class="row content-mob">
        <div class="col m8">
            <div class="demo">
                <ul id="lightSlider">
                    {% for image in page.gallery_images.all %}
                    {% image image.image original as image_inst %}
                    <li data-thumb="{{ image_inst.url }}">
                        <img src="{{ image_inst.url }}"
                            alt="{{ image_inst.alt }}" />
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /Gallery -->
            <h4 class='bold-text'>{{ page.title }}</h4>
            <p>{{ page.body|richtext }}</p>

            {% comment %} <h4 class='bold-text'>Lorem Title</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque,
                pariatur consequatur ab, quaerat dolorem aperiam saepe itaque
                non et tempora excepturi illo ullam molestias praesentium velit
                eveniet sunt. Quam, aspernatur.

            </p>
            <h4 class='bold-text'>Product Features</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque,
                pariatur consequatur ab, quaerat dolorem aperiam saepe itaque
                non et tempora excepturi illo ullam molestias praesentium velit
                eveniet sunt. Quam, aspernatur.

            </p>
            <h4 class='bold-text'>Benefits</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque,
                pariatur consequatur ab, quaerat dolorem aperiam saepe itaque
                non et tempora excepturi illo ullam molestias praesentium velit
                eveniet sunt. Quam, aspernatur.

            </p>
            <h4 class='bold-text'>Downsides</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque,
                pariatur consequatur ab, quaerat dolorem aperiam saepe itaque
                non et tempora excepturi illo ullam molestias praesentium velit
                eveniet sunt. Quam, aspernatur.

            </p> {% endcomment %}

            <div style='margin-inline: auto; width: 300px;'>
                <a href="{{ page.affiliate_link }}"
                    class="btn bold-text section-btn">Check
                    price {% if page.affiliate_name %}on
                    {{ page.affiliate_name }} {% endif %}</a>
            </div>

        </div>

        <!-- Second section -->
        <div class="col m4">
            <a href="{{ page.affiliate_link }}"
                class="btn bold-text section-btn btn-hide">Check
                price {% if page.affiliate_name %}on {{ page.affiliate_name }}
                {% endif %}</a>

            <!-- Section Title -->
            <div class="section-title">
                <hr>
                <h2>Featured</h2>
                <hr>
            </div>
            <!-- /Section Title -->

            <!-- Social Buttons -->
            <div class="social-buttons">
                {% if page.facebook_link %}
                <!-- facebook  Button -->
                <a href="{{ page.facebook_link }}" target="blank"
                    class="social-margin">
                    <div class="social-icon facebook">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                </a>
                {% endif %}
                {% if page.pinterest_link %}
                <!-- pinterest  Button -->
                <a href="{{ page.pinterest_link }}" target="blank"
                    class="social-margin">
                    <div class="social-icon pinterest">
                        <i class="fab fa-pinterest-p"></i>
                    </div>
                </a>
                {% endif %}
                {% if page.youtube_link %}
                <!-- youtube  Button -->
                <a href="{{ page.youtube_link }}" target="blank"
                    class="social-margin">
                    <div class="social-icon youtube">
                        <i class="fab fa-youtube"></i>
                    </div>
                </a>
                {% endif %}
                {% if page.twitter_link %}
                <!-- twitter  Button -->
                <a href="{{ page.twitter_link }}" target="blank"
                    class="social-margin">
                    <div class="social-icon twitter">
                        <i class="fab fa-twitter"></i>
                    </div>
                </a>
                {% endif %}
                {% if page.instagram_link %}
                <!-- twitter  Button -->
                <a href="{{ page.instagram_link }}" target="blank"
                    class="social-margin">
                    <div class="social-icon instagram">
                        <i class="fab fa-instagram"></i>
                    </div>
                </a>
                {% endif %}
            </div>
            <!-- /Social Buttons -->

            <p><a class='btn waves-effect bold-text embed-btn'
                    href="#">Embed</a></p>

            <p><a class='btn white-text sub-btn'
                    href="#subscribe-section-anchor">Sign Up
                    for our newsletter</a></p>

            <!-- Info Block -->
            <div class='overview z-depth-4'>
                <p class='overview-header'>Overview</p>

                {% if page.categories %}
                <p class='overview-p'><span class="grey-text">Category</span>
                    #{{ page.main_category }}</p>
                {% endif %}

                {% if page.brand %}
                <p class='overview-p'><span class="grey-text">Brand</span>
                    {{ page.brand }}
                </p>
                {% endif %}

                {% if page.model %}
                <p class='overview-p'><span
                        class="grey-text">Model</span>{{ page.model }}</p>
                {% endif %}

                {% if page.color %}
                <p class='overview-p'><span class="grey-text">Color</span>
                    {{ page.color }}
                </p>
                {% endif %}

                {% if page.weight %}
                <p class='overview-p'><span class="grey-text">Weight</span>
                    {{ page.weight }}
                </p>
                {% endif %}

                {% if page.dimensions %}
                <p class='overview-p'><span class="grey-text">Dimensions</span>
                    {{ page.dimensions }}
                </p>
                {% endif %}
            </div>
            <!-- / -->

            {% if page.adv_block.first %}
            {% with page.adv_block.first as adv %}

            <!-- Info Block -->
            <a href="{% if adv.page %}{{ adv.page }}{% else %}{{ adv.link }}{% endif %}">
                <div class='overview z-depth-4'>
                    {% if adv.title %}<p class='overview-header purple'>
                        {{ adv.title }}</p>{% endif %}

                    <div class="overview-body">
                        {% if adv.image %}
                        {% image adv.image original as adv_image %}
                        <img src="{{ adv_image.url }}" alt="{{ adv.title }}">
                        {% endif %}
                    </div>
                </div>
            </a>
            <!-- / -->
            {% endwith %}
            {% endif %}
        </div>

    </div>

    <!-- Related Items -->
    {% if related_items %}
    <!-- Section Title -->
    <div class="section-title">
        <hr>
        <h2>Related Products</h2>
        <hr>
    </div>
    <!-- /Section Title -->
    {% include 'blog/includes/cards.html' with blogs=related_items %}

    {% else %}
    <div style='margin-bottom: 3rem;'></div>
    {% endif %}
    <!-- /Related Items -->

</div>



{% endblock %}

{% block extra_js %}
<script src="{% static 'js/lightslider.min.js' %}"></script>
<script type="text/javascript">
    $('#lightSlider').lightSlider({
        gallery: true,
        item: 1,
        loop: true,
        slideMargin: 0,
        thumbItem: 9
    });
</script>

{% endblock %}