/* Global CSS styles aplied to all templates */



/* Main */
* {
    /* overflow-y: hidden; */
    box-sizing: border-box;

}

html,
body {
    margin: 0;
    padding: 0;
}

section {
    overflow-x: hidden;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Lato', Arial, Helvetica, sans-serif; */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */


}

.container {
    width: 85% !important;
}

.row {
    margin-block: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Navbar */
.navbar-fixed {
    min-height: 64px;
}

nav {
    /* background-color: white !important; */
    height: 64px !important;
}

nav .input-field {
    display: flex;
    background-color: white;
}

/* Social Buttons */
.social-buttons {
    margin-inline: .3rem;
}

.social-buttons a {
    background-color: inherit !important;
    padding-inline-start: .3rem !important;
    padding-inline-end: .3rem !important;
}

.nav-social-item:hover {
    background-color: inherit;
}

.nav-social {
    margin-top: 0.5rem;
}

.nav-wrapper>ul>li {
    transition: all 0.4ms ease;
    position: relative;
}


.nav-wrapper>ul>li>a {
    font-weight: 700;
}

.nav-wrapper>ul>li>a:hover {
    color: red;
}


/* Nav Logo */
.brand-logo {
    display: flex !important;
}

/* Nav Logo Image */
.brand-logo>img {
    width: 64px;
    height: 64px;
    margin-inline: 0.2rem;
}

/* Nav Logo Text */
.brand-logo>span {
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

/* Nav Search Bar */
.search-container>form {
    display: flex;
    margin-block: 15px 10px;
    margin-block-start: 15px;
    margin-block-end: 10px;

}

.search-container form button[type=submit] {
    border: 1px solid #9e9e9e;
    border-left: none;
    color: #4693aa;
    background: none;
    height: 37px;
    max-height: 37px;
}

.search-container form input[type=text]:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #9e9e9e !important;

}

.search-container>form>button:focus {
    outline: none;
}

.search-container>form>input[type=text] {
    color: black;
    background-color: white;

    min-width: 300px;
    width: 400px;
    height: 37px;
    padding-left: 15px;

    border: 1px solid #9e9e9e;
    border-right: none;

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;

}

/*  */


/* Subnav */
.subnav {
    /* display:none; */
    background-color: lightgrey;
    /* height: 35px; */

    position: fixed;
    /* Set the navbar to fixed position */
    top: 64px;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */

    /* margin-bottom: 5px; */
    z-index: 997;
    /* line-height: 40px; */
    /* font-size: 1.1em; */
}

.subnav>ul {
    margin-block: 0px;
    display: flex;
    justify-content: center;
}

.subnav>ul>li {
    padding-inline: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;

    padding-block: 10px 5px;
    padding-block-start: 10px;
    padding-block-end: 5px;
    white-space: nowrap;
}

.subnav>ul>li>a {
    color: black;
    font-weight: 700;
    text-transform: uppercase;

}

.subnav>ul>li:hover,
.subnav>ul>li:hover>a {
    background-color: white;
    color: #4693aa;
}


/* Mega Menu Dropdown */
.megamenu-dropdown:hover .megamenu-dropdown-area {
    visibility: visible;
    opacity: 1;
}

.megamenu-dropdown-area {
    /* background-color: white !important; */
    z-index: 100;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 700px;

    display: block;
    visibility: hidden;
    opacity: 0;

    width: 100%;
    left: 0;
    top: 36px;

    color: black;

    transition: all 0.4s ease;
    box-sizing: border-box;
    box-shadow: 0 4px 2px -2px gray;
}

.megamenu-dropdown-area a {
    color: black;
}

.megamenu-dropdown-area a:hover {
    color: #4693aa;
}

.megamenu-dropdown-area a:active {
    color: #4693aa;
}

/* .megamenu-dropdown-area: */

/* Mega Menu Header */
.megamenu-dropdown-header {
    color: grey;
    font-size: 15px;
    text-transform: uppercase;
}

.megamenu-dropdown-header>div {
    padding-inline: 10%;
}

/* Megamenu Content */
.megamenu-dropdown-content {
    justify-content: space-around;
    padding: 10px 40px !important;
    display: flex;
}

.megamenu-dropdown-content ul {
    display: block;
}

.megamenu-dropdown-content>ul>h4 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
}

.megamenu-dropdown-content>ul>h4:hover {
    color: #4693aa;
}

.megamenu-dropdown-content>ul>li>a {
    color: black;
}

.megamenu-dropdown-content>ul>li>a:hover {
    color: #4693aa;
}

/* Mega Menu Footer */
.megamenu-dropdown-footer {
    color: black;
    font-size: 15px;
    background-color: #4693aa;
    padding-block: 20px;
    overflow-x: hidden;
}

.megamenu-dropdown-footer a:hover {
    color: white;
}

.megamenu-dropdown-footer-title {
    color: black;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
}


.megamenu-dropdown-footer-card>a>p {
    margin: 0px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.megamenu-dropdown-footer-card>a:hover {
    color: limegreen;
    transition: all 0.5s ease;
}

.megamenu-dropdown-footer-card>a>img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    height: 200px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .megamenu-dropdown-content ul {
        width: 100%;
        height: auto;
    }

    .brand-logo span {
        display: none;
    }
}

/*  */


/* Subscription Section */
.subscribe-section-wrapper {
    background-image: url('https://images.pexels.com/photos/3756042/pexels-photo-3756042.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-block: 100px;
    padding-block-start: 100px;
    padding-block-end: 100px;
}

.subscribe-section {
    /* background-color: #06AED5; */
    margin-inline: auto;
    width: 60% !important;
    background-color: white;
    padding: 20px 50px 50px 50px;
    text-align: center;
}

.subscribe-section>p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #4693aa;
}

.subscribe-section>h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: black;
    margin-bottom: 0px
}

.subscribe-section>hr {
    color: #4693aa;
    height: 0.5px;
    width: 100%;
    max-width: 400px;
    background-color: #4693aa;
    border: none;
}

.subscribe-section>div {
    display: flex;
    justify-content: space-between;
}

.subscribe-input-field>input[type='email'] {
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;

    border: 1px solid #9e9e9e;
    border-radius: 15px;
    padding-inline: 10px;
}

.subscribe-input-field>button {
    background-color: red;
    border-radius: unset;
    color: white;
    font-weight: 700;
    height: 50px;
}

.subscribe-input-field>button:hover {
    background-color: #4693aa;

}

.subscribe-social {
    display: flex;
    justify-content: center;

}

.subscribe-social>li {
    margin-inline: 10px;
}

/*  */


/* Footer */
footer {
    background-color: black;
    /* background-color: #464746; */
    padding-top: 20px;
    padding-inline: 8rem;
}

.brand-logo-footer {
    align-items: center;
}

.brand-logo-footer>img {
    width: 64px;
}

.brand-logo-footer>span {
    color: white;
    text-transform: uppercase;
}

.footer-copyright>div {
    display: flex;
    justify-content: center;
    color: white;
}

/* Card */
.card {
    width: 300px;
    max-width: 400px;
    max-height: 600px;
    border-radius: unset !important;
}

.card-content {
    padding-block: 5px !important;
    padding-inline: 20px !important;
}



.card-title {
    font-weight: 700 !important;
    font-size: 26px;
    color: black;
    text-align: center;
}

.card-category {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.card-content a hr {
    color: #4693aa;
    height: 1px !important;
    width: 100px;
    /* margin-top: 4.5rem; */
    background-color: #4693aa;
    border: none;
    margin-block: 3px;
}

.card-cta {
    text-align: center;

}

.card-cta>a {
    font-weight: 700;
    color: #4693aa;
}

/*  */
.bold-text {
    font-weight: 700 !important;
}


/* Divider */
.section-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    width: 100%;
}

.section-title>h2 {
    font-weight: 700;
    margin-inline: 1rem;
    white-space: nowrap;
}

.section-title>hr {
    color: #4693aa;
    height: 0.5px;
    border: none;

    width: 100%;
    max-width: 400px;
    margin-top: 4.5rem;
    background-color: #4693aa;
}

/*  */
.megamenu-dropdown-active {
    /* color:#4693aa; */
    background-color: white;
}

.megamenu-dropdown-active>a {
    color: #4693aa !important;
}

.megamenu-dropdown-area-active {
    visibility: visible;
    opacity: 1;
}


/* Media Queries */

@media (max-width: 768px) {
    .container {
        margin: 0 !important;
        max-width: none !important;
        width: 100% !important;
    }

    footer {
        padding-inline: 5rem;
    }
}

@media (max-width: 992px) {


    .brand-logo span {
        display: block;
    }

    .nav-ul-mob {
        display: block !important;
        background-color: white;
        width: 100%;
        position: static !important;
    }

    .subnav-mob {
        position: static;
        display: block !important;
        margin-top: 150px;
    }

    nav {
        box-shadow: none;
        webkit-box-shadow: none;
    }

    .nav-ul-mob li {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: 4rem;
    }

    .right {
        float: none !important;
    }

    .subnav {
        display: none;
    }

    .subnav ul {
        flex-wrap: wrap;
    }

    .megamenu-dropdown-header {
        display: none;
    }

    .megamenu-dropdown-area {
        top: 5rem;
    }

    .megamenu-dropdown-area .megamenu-dropdown-content {
        display: block;
        text-align: center;
    }

    .megamenu-dropdown-area-mob {
        top: 20.4rem;
    }

    /* Footer */
    footer div .row .col {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .nav-wrapper .brand-logo span {
        display: none;
    }

    footer div div {
        padding-inline: 1rem;
    }
}

@media (min-width: 992px) {
    footer div .row {
        flex-wrap: nowrap;
    }
}