/* Breadcrumb */
.breadcrumb-wrapper {
    box-shadow: none;
    margin-top: 2rem;
}
.breadcrumb {
    color:black;
}
.breadcrumb::before {
    color:black;
}
.breadcrumb:last-child {
    color:black;
}


/* JQuery lightSlider  */
.demo {
    width:100%;
}
#lightSlider {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
#lightSlider li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
#lightSlider li img {
    display: block;
    height: auto;
    max-width: 100%;
}

/*  */
.section-title {
    margin-block: 20px;
    align-items: center;
}

.section-title>h2 {
    font-size: 28px;
    margin-block: 0px;
}

.section-title>hr {
    height: 5px;
    margin-block: 0px;
    
}

/*  */
.embed-btn {
    font-size: 20px;
    width: 100%;
    background-color: orange;
}
.embed-btn:hover {
    background-color: black;
}

.sub-btn {
    background-color: cornflowerblue;
    border-radius: 100px;
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
}
.sub-btn:hover {
    background-color: black;    
}


/* Modal */
.modal-content {
    text-align: center;
}
.modal-content iframe {
    margin-block: 2rem;
}
.modal-social {
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    .content-mob {
        display: block !important;

    }
    .btn-hide {
        display: none;
    }
    .content-mob .col {
        width: 100%;
        float: none;
        margin-inline: auto;

    }


    .content-row:first-child {
        /* width: 66.6666666667%;
        margin-left: auto; */
    }
    .content-row:last-child {
        /* width: 33.3333333333%;
        margin-left: auto; */
    }



}
