/* Styles for /categories (category_page.html) */

/* Header */
header {
    display: flex;
    align-items: end;
    background-color: black;
    /* Upload a background image here  */
    width: 100%;
    height: 300px;
    min-height: 300px;
}
.header-content {
    margin-inline: 2rem;
    margin-block: 2rem;
}
.header-content h1 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
.header-content hr {
    color: #4693aa;
    height: 4px;
    width: 200px;
    background-color: #4693aa;
    border: none;
}
/* */

/* Filter Box */
.filter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 4rem;
    margin-block: 1rem;
}

/* Select */
.select-wrapper {
    width: 250px !important;
    text-align: center;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.06),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
}
.select-wrapper>input {
    margin-block: 0px;
    border: none;
    border: 1px solid #9e9e9e !important;
    /* padding-left: 10px; */

    font-size: 16px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;

    display: block;
    line-height: 22px;
    /* padding: 14px 16px; */


    /* padding-left: 10px !important; */
    background-color: white !important;

}

.select-wrapper .caret {
    z-index: 2;
}

.dropdown-content li > span {
    color: black;
    text-transform: uppercase;
}

.dropdown-content li > span:hover {
    color: #4693aa;

}

/*  */
.filter-box p a {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}
.filter-box p a:hover {
    color: #4693aa;

}

@media (max-width: 992px) {
    .filter-box {
        display: block;
        text-align: center;
    }
    .filter-box .input-field {
        display: inline-block;
    }
}